In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import datetime
import seaborn as sns
from pandas.tseries.holiday import USFederalHolidayCalendar
from sklearn import linear_model
from sklearn.cross_validation import cross_val_predict
from sklearn.cross_validation import cross_val_score
import time

%load_ext autoreload
%autoreload 2
from functions import *
from plots import *

%matplotlib inline
plt.rcParams['figure.figsize'] = 12, 8  # plotsize

# Import traffic data

In [38]:
df_traf = pd.DataFrame.from_csv('../data_ski_in_solitude/berthoud_skiers_14_15.csv', parse_dates=True, index_col=0)

In [39]:
df_traf.head()

               away_WP  to_WP  day_of_week  skiers
FormattedDate
2014-11-14           0   1632            4    1632
2014-11-15        1695   1964            5    1901
2014-11-16        3390   1489            6       0
2014-11-17        1716   1493            0    -223
2014-11-18        1544   1531            1    -236

# Import snow data

In [40]:
df_met = pd.DataFrame.from_csv('../data_ski_in_solitude/clean_wp_14_15.csv', parse_dates=True, index_col=0)

In [41]:
resamp_time = '1440Min'
df_met = df_met.resample(resamp_time)

In [42]:
df_met.head()

,new_24,basedepth,open_trails,open_lifts,open_percent,tot_snow,week_snow_tot,2day_snow_tot,3day_snow_tot,4day_snow_tot,5day_snow_tot,6day_snow_tot
valid_at,,,,,,,,,,,,
2014-11-15,5,18,3,3,3,0,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-16,10,18,5,4,4,10,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-17,0,18,6,4,5,10,NaN,15,NaN,NaN,NaN,NaN
2014-11-18,0,18,7,4,1,10,NaN,10,15,NaN,NaN,NaN
2014-11-19,0,18,8,4,6,10,NaN,0,10,15,NaN,NaN

## Combine the traffic and met data.

In [47]:
df_all = df_traf.join(df_met, how='outer')

In [48]:
df_all.head()

,away_WP,to_WP,day_of_week,skiers,new_24,basedepth,open_trails,open_lifts,open_percent,tot_snow,week_snow_tot,2day_snow_tot,3day_snow_tot,4day_snow_tot,5day_snow_tot,6day_snow_tot
2014-11-14,0,1632,4,1632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-15,1695,1964,5,1901,5,18,3,3,3,0,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-16,3390,1489,6,0,10,18,5,4,4,10,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-17,1716,1493,0,-223,0,18,6,4,5,10,NaN,15,NaN,NaN,NaN,NaN
2014-11-18,1544,1531,1,-236,0,18,7,4,1,10,NaN,10,15,NaN,NaN,NaN

In [49]:
df_all = df_all[1:]

In [50]:
df_all

,away_WP,to_WP,day_of_week,skiers,new_24,basedepth,open_trails,open_lifts,open_percent,tot_snow,week_snow_tot,2day_snow_tot,3day_snow_tot,4day_snow_tot,5day_snow_tot,6day_snow_tot
2014-11-15,1695,1964,5,1901,5.000000,18,3,3,3.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-16,3390,1489,6,0,10.000000,18,5,4,4.0,10.000000,NaN,NaN,NaN,NaN,NaN,NaN
2014-11-17,1716,1493,0,-223,0.000000,18,6,4,5.0,10.000000,NaN,15.000000,NaN,NaN,NaN,NaN
2014-11-18,1544,1531,1,-236,0.000000,18,7,4,1.0,10.000000,NaN,10.000000,15.000000,NaN,NaN,NaN
2014-11-19,1702,1714,2,-224,0.000000,18,8,4,6.0,10.000000,NaN,0.000000,10.000000,15.000000,NaN,NaN
2014-11-20,1692,1861,3,-55,0.000000,18,11,4,8.0,10.000000,NaN,0.000000,0.000000,10.000000,15.000000,NaN
2014-11-21,1965,3287,4,1267,0.000000,18,11,4,8.0,10.000000,NaN,0.000000,0.000000,0.000000,10.000000,15.000000
2014-11-22,2360,3125,5,2032,0.000000,18,12,4,9.0,10.000000,15.000000,0.000000,0.000000,0.000000,0.000000,10.000000
2014-11-23,2857,1940,6,1115,6.000000,18,12,4,9.0,16.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-11-24,1952,1965,0,1128,4.000000,22,12,4,9.0,20.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
2014-11-25,2010,2337,1,1455,2.666667,22,12,4,9.0,25.333333,12.666667,7.333333,10.666667,12.666667,12.666667,12.666667
2014-11-26,2654,4467,2,3268,8.000000,31,26,8,19.0,36.000000,18.000000,6.000000,8.000000,12.000000,18.000000,18.000000
2014-11-27,1843,2738,3,4163,0.000000,30,26,8,19.0,36.000000,26.000000,10.000000,14.000000,16.000000,20.000000,26.000000
2014-11-28,3906,5106,4,5363,0.000000,29,43,18,31.0,36.000000,26.000000,8.000000,10.000000,14.000000,16.000000,20.000000
2014-11-29,5075,3274,5,3562,0.000000,27,44,18,31.0,36.000000,20.000000,0.000000,8.000000,10.000000,14.000000,16.000000
2014-11-30,5192,1914,6,284,0.000000,26,43,18,31.0,36.000000,16.000000,0.000000,0.000000,8.000000,10.000000,14.000000
2014-12-01,1995,1564,0,-147,0.000000,25,43,18,31.0,36.000000,14.000000,0.000000,0.000000,0.000000,8.000000,10.000000
2014-12-02,1694,1688,1,-153,0.000000,24,43,18,31.0,36.000000,10.000000,0.000000,0.000000,0.000000,0.000000,8.000000
2014-12-03,1676,1725,2,-104,0.000000,24,43,18,31.0,36.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-12-04,1765,2024,3,155,0.000000,23,43,15,31.0,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-12-05,2008,3937,4,2084,0.000000,22,43,15,31.0,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-12-06,3818,4376,5,2642,1.000000,22,43,18,31.0,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-12-07,4686,2455,6,411,0.000000,22,43,18,31.0,37.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2014-12-08,1941,1680,0,150,0.000000,22,43,16,31.0,37.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2014-12-09,1745,1673,1,78,0.000000,22,43,15,31.0,37.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
2014-12-10,1860,1869,2,87,0.000000,22,43,15,31.0,37.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
2014-12-11,1918,2112,3,281,0.000000,22,48,15,34.0,37.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
2014-12-12,2146,3909,4,2044,0.000000,21,47,15,33.0,37.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
2014-12-13,3287,3720,5,2477,0.000000,21,63,20,45.0,37.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-12-14,4191,2490,6,776,5.500000,23,68,19,46.5,44.500000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-28,4283,4157,5,1599,0.000000,73,127,23,89.0,214.000000,16.000000,4.000000,9.000000,16.000000,16.000000,16.000000
2015-03-29,5425,2720,6,-1106,0.000000,69,127,23,89.0,214.000000,16.000000,0.000000,4.000000,9.000000,16.000000,16.000000
2015-03-30,2753,2150,0,-1709,0.000000,67,127,19,89.0,214.000000,16.000000,0.000000,0.000000,4.000000,9.000000,16.000000
2015-03-31,2215,2129,1,-1795,0.000000,67,127,19,89.0,214.000000,16.000000,0.000000,0.000000,0.000000,4.000000,9.000000
2015-04-01,2288,2253,2,-1830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-02,1994,2362,3,-1462,1.000000,65,124,19,87.0,215.000000,9.000000,0.000000,0.000000,0.000000,0.000000,4.000000
2015-04-03,3072,4015,4,-519,4.000000,66,124,19,87.0,219.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2015-04-04,3659,3365,5,-813,1.000000,69,128,24,90.0,220.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2015-04-05,3776,2019,6,-2570,0.000000,69,128,23,90.0,220.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000
2015-04-06,2218,1916,0,-2872,0.000000,66,127,19,89.0,220.000000,6.000000,1.000000,5.000000,6.000000,6.000000,6.000000
2015-04-07,1858,1824,1,-2906,0.000000,66,128,19,90.0,220.000000,6.000000,0.000000,1.000000,5.000000,6.000000,6.000000
2015-04-08,1968,1903,2,-2971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-09,1858,2000,3,-2829,1.000000,64,128,19,90.0,221.000000,6.000000,0.000000,0.000000,1.000000,5.000000,6.000000
2015-04-10,2252,3206,4,-1875,0.000000,64,126,19,88.0,221.000000,7.000000,1.000000,1.000000,1.000000,2.000000,6.000000
2015-04-11,2635,2835,5,-1675,0.000000,63,126,19,88.0,221.000000,6.000000,1.000000,1.000000,1.000000,1.000000,2.000000
2015-04-12,3492,1943,6,-3224,0.000000,62,126,19,88.0,221.000000,2.000000,0.000000,1.000000,1.000000,1.000000,1.000000
2015-04-13,1987,1612,0,-3599,1.000000,63,122,19,85.0,222.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
2015-04-14,1870,1766,1,-3703,0.000000,63,122,19,85.0,222.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000
2015-04-15,1715,1614,2,-3804,0.000000,62,121,18,85.0,222.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000
2015-04-16,1492,1640,3,-3656,0.000000,62,121,17,85.0,222.000000,2.000000,0.000000,1.000000,1.000000,1.000000,1.000000
2015-04-17,1980,3237,4,-2399,11.000000,66,121,17,85.0,233.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
2015-04-18,3000,3251,5,-2148,5.000000,80,121,17,85.0,238.000000,12.000000,11.000000,11.000000,11.000000,12.000000,12.000000
2015-04-19,3896,2337,6,-3707,3.000000,77,123,16,86.0,241.000000,17.000000,16.000000,16.000000,16.000000,16.000000,17.000000
2015-04-20,2205,1909,0,-4003,4.000000,80,100,10,70.0,245.000000,20.000000,8.000000,19.000000,19.000000,19.000000,19.000000
2015-04-21,2077,2035,1,-4045,0.000000,79,100,10,70.0,245.000000,23.000000,7.000000,12.000000,23.000000,23.000000,23.000000
2015-04-22,1958,1950,2,-4053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-23,1747,1977,3,-3823,0.000000,76,99,9,69.0,245.000000,23.000000,4.000000,7.000000,12.000000,23.000000,23.000000
2015-04-24,2223,3877,4,-2169,0.000000,75,97,9,68.0,245.000000,23.000000,0.000000,4.000000,7.000000,12.000000,23.000000
2015-04-25,2606,3399,5,-1376,0.000000,72,97,10,68.0,245.000000,23.000000,0.000000,0.000000,4.000000,7.000000,12.000000
2015-04-26,4610,2103,6,-3883,5.000000,74,97,10,68.0,250.000000,12.000000,0.000000,0.000000,0.000000,4.000000,7.000000

In [51]:
df_all.tail()

,away_WP,to_WP,day_of_week,skiers,new_24,basedepth,open_trails,open_lifts,open_percent,tot_snow,week_snow_tot,2day_snow_tot,3day_snow_tot,4day_snow_tot,5day_snow_tot,6day_snow_tot
2015-04-22,1958,1950,2,-4053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-23,1747,1977,3,-3823,0,76,99,9,69,245,23,4,7,12,23,23
2015-04-24,2223,3877,4,-2169,0,75,97,9,68,245,23,0,4,7,12,23
2015-04-25,2606,3399,5,-1376,0,72,97,10,68,245,23,0,0,4,7,12
2015-04-26,4610,2103,6,-3883,5,74,97,10,68,250,12,0,0,0,4,7

# Export Combined Dataframe

In [52]:
df_all.to_csv('../data_ski_in_solitude/combined_14_15.csv')