In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import datetime
import seaborn as sns
from pandas.tseries.holiday import USFederalHolidayCalendar
from sklearn import linear_model
from sklearn.cross_validation import cross_val_predict
from sklearn.cross_validation import cross_val_score
import time

%load_ext autoreload
%autoreload 2
from functions import *
from plots import *

%matplotlib inline
plt.rcParams['figure.figsize'] = 12, 8  # plotsize

# Import traffic data

In [38]:
df_traf = pd.DataFrame.from_csv('../data_ski_in_solitude/berthoud_skiers_14_15.csv', parse_dates=True, index_col=0)

In [39]:
df_traf.head()

               away_WP  to_WP  day_of_week  skiers
FormattedDate
2014-11-14           0   1632            4    1632
2014-11-15        1695   1964            5    1901
2014-11-16        3390   1489            6       0
2014-11-17        1716   1493            0    -223
2014-11-18        1544   1531            1    -236

# Import snow data

In [40]:
df_met = pd.DataFrame.from_csv('../data_ski_in_solitude/clean_wp_14_15.csv', parse_dates=True, index_col=0)

In [41]:
resamp_time = '1440Min'
df_met = df_met.resample(resamp_time)

## Combine the traffic and met data.

In [47]:
df_all = df_traf.join(df_met, how='outer')

In [49]:
df_all = df_all[1:]

In [51]:
df_all.tail()

,away_WP,to_WP,day_of_week,skiers,new_24,basedepth,open_trails,open_lifts,open_percent,tot_snow,week_snow_tot,2day_snow_tot,3day_snow_tot,4day_snow_tot,5day_snow_tot,6day_snow_tot
2015-04-22,1958,1950,2,-4053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-23,1747,1977,3,-3823,0,76,99,9,69,245,23,4,7,12,23,23
2015-04-24,2223,3877,4,-2169,0,75,97,9,68,245,23,0,4,7,12,23
2015-04-25,2606,3399,5,-1376,0,72,97,10,68,245,23,0,0,4,7,12
2015-04-26,4610,2103,6,-3883,5,74,97,10,68,250,12,0,0,0,4,7

# Export Combined Dataframe

In [52]:
df_all.to_csv('../data_ski_in_solitude/combined_14_15.csv')